{% extends "base.html" %}

{% block title %}{{ book.name }} 第 {{ chapter_number }} 章{% endblock %}

{# 覆盖Base模板中的OG标签 #}
{% block og_title %}<meta property="og:title" content="{{ book.name }} 第 {{ chapter_number }} 章" />{% endblock %}
{% block og_description %}<meta property="og:description" content="阅读{{ book.name }} 第 {{ chapter_number }} 章的经文，每日灵粮，安静亲近神。" />{% endblock %}
{% block og_image %}<meta property="og:image" content="https://wordsgod.com/static/default_chapter_share_image.jpg" />{% endblock %} {# 使用章节特定图片 #}
{% block og_url %}<meta property="og:url" content="https://wordsgod.com/chapter/{{ book.id }}/{{ chapter_number }}" />{% endblock %}
{% block og_type %}<meta property="og:type" content="article" />{% endblock %}


{% block content %}
    <h1>{{ book.name }} 第 {{ chapter_number }} 章</h1>

    <div class="verses-content">
        {% for verse in verses %}
            <p class="verse"><span class="verse-number">{{ verse.verse_number }}.</span> {{ verse.content }}</p>
        {% endfor %}
    </div>

    <div class="navigation">
        {% if prev_chapter_book_id %}
            <a href="/chapter/{{ prev_chapter_book_id }}/{{ prev_chapter_number }}">&lt; 上一章</a>
        {% else %}
            <span>&lt; 上一章</span>
        {% endif %}

        {% if next_chapter_book_id %}
            <a href="/chapter/{{ next_chapter_book_id }}/{{ next_chapter_number }}">下一章 &gt;</a>
        {% else %}
            <span>下一章 &gt;</span>
        {% endif %}
    </div>
{% endblock %}